* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

#loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: #333;
  font-size: 18px;
  background-color: white;
  z-index: 9999;
}

.spinner {
  width: 40px;
  height: 40px;
  border: 5px solid #ccc;
  border-top: 5px solid #000000;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
  margin-bottom: 10px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.form-box {
    width: 90%;
    max-width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 50px 60px 70px;
    text-align: center;
    border-radius: 10px;
}

.input-field {
    background: #eaeaea;
    margin: 15px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

/* Стили для обычного input */
input {
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px 15px;
}

/* Стили для кнопок */
.btn-field {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
}

.btn-field button {
    flex-basis: 48%;
    background-color: #222222;
    color: #fff;
    height: 40px;
    border-radius: 5px;
    border: 0;
    outline: 0;
    cursor: pointer;
}

/* Контейнер для двух select-полей */
.select-row {
    margin: 5px;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 0 10px;
    align-items: center;
}

/* Стили для select-полей */
.select-row .half-input {
    width: 50%;
    padding: 14px 10px;
    font-size: 14px;
    background: #eaeaea;
    border: none;
    border-radius: 3px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    cursor: pointer;
}