<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>YouTube Loader</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}" />
</head>
<body>
  <div class="container">
    <div id="loading" style="display: none;">
      <div class="spinner"></div>
      <p>Loading...</p>
    </div>
    <div class="form-box">
      <h1 style="margin-bottom: 30px;">YouTube Loader</h1>
      <form id="downloadForm" action="/download" method="post">

        <div class="input-field">
          <input type="text" placeholder="Enter URL" name="url" required>
        </div>


        <div class="btn-field">
          <button type="submit">Search</button>
        </div>
      </form>
    </div>
  </div>
</body>
</html>
